/* basic styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600&display=swap');

:root {
  --dark-blue: #032642;
  --lighter-blue: #095491;
  --off-white: #f1f1f1;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--off-white);
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Playfair', 'Times New Roman', Times, serif;
}

/* Home Page */
#map {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

#countdown {
  font-size: 4rem;
  font-weight: bolder;
}

#flag {
  border-radius: 2rem;
  max-width: 300px;
}

.btn-blue {
  background-color: var(--lighter-blue);
  color: var(--off-white);
  padding: 7px;
  border-radius: 5px;
}

.btn-blue:active {
  background-color: var(--dark-blue);
}

.timer-container {
  /* From https://css.glass */
  background: rgba(214, 213, 213, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(214, 213, 213, 1);
  border-radius: 5px;
  box-shadow: 6px 4px 17px 0px #e5e3e3;
}

/* Navbar */

.header-nav {
  background-color: #032642;
}

.nav-item .nav-link {
  color: var(--off-white);
}

/* Country pages */
#timer-image {
  background-image: url(../images/counter-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 6vw;
}

.fact-image {
  max-width: 250px;
}
