/* basic styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-blue: #031023;
  --lighter-blue: #153c75;
  --off-white: #f1f1f1;
  --accent-champagne: #f7e7ce;
  
  --font-family: Verdana, Tahoma, sans-serif;
  --font-family-heading: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--off-white);
  /* font-family: 'Playfair', 'Times New Roman', Times, serif; */
}

h1 {
  font-family: var(--font-family-heading);
  color: var(--accent-champagne);
}

h2 {
  font-family: var(--font-family);
  color: var(--dark-blue);
}

p {
  font-family: var(--font-family);
  color: var(--dark-blue);
}

/* Home Page */
.map-container {
  position: relative;
}

.map-container h1, .map-container h2 {
  position: absolute;
  margin: auto; 
  z-index: 1;
  text-shadow: 2px 2px 4px #000000b0;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#countdown {
  font-weight: bolder;
  top: 85px;
  color: var(--accent-champagne);
}

#map {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

#flag {
  border-radius: 2rem;
  max-width: 300px;
}

.btn-blue {
  background-color: var(--accent-champagne);
  color: var(--dark-blue);
  padding: 10px;
  border-radius: 5px;
}

.btn-blue:active {
  background-color: var(--dark-blue);
}

#btn-spin {
  position: relative;
  margin-top: -65px;
  display: inline-block;
  font-family: var(--font-family);
  color: var(--accent-champagne);
  background: linear-gradient(to right, var(--dark-blue) 0%, var(--lighter-blue) 100%);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 0.5s;
}

#btn-spin:hover {
  background: linear-gradient(to right, var(--off-white) 0%, var(--accent-champagne) 100%);
  color: var(--dark-blue);
}

.timer-container {
  /* From https://css.glass */
  background: rgba(214, 213, 213, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(214, 213, 213, 1);
  border-radius: 5px;
  box-shadow: 6px 4px 17px 0px #e5e3e3;
}

/* Navbar */

.header-nav {
  background-color: var(--dark-blue);
}

.nav-item .nav-link {
  color: var(--off-white);
}

/* Country pages */
#timer-image {
  background-image: url(../images/counter-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 6vw;
}

.fact-image {
  max-width: 250px;
}


/* Media Queries */

@media (min-width: 768px) {
  #map {
    height: 75vh;
  }

  #countdown {
    top: 65px;
  }

  .row>* {
    /* remove flex-shrink: 0 */
    flex: 1 1 0;
  }

  #counter-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}