/* basic styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-blue: #031023;
  --lighter-blue: #153c75;
  --off-white: #f1f1f1;
  --accent-champagne: #f7e7ce;

  --font-family: Verdana, Tahoma, sans-serif;
  --font-family-heading: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--dark-blue);
  overflow-x: hidden;
  /* font-family: 'Playfair', 'Times New Roman', Times, serif; */
}

h1 {
  font-family: var(--font-family-heading);
  color: var(--accent-champagne);
}

h2 {
  font-family: var(--font-family);
  color: var(--dark-blue);
}

#selectedCountry,
#localCountryTime {
  font-size: calc(1rem + 0.4vw);
  color: var(--accent-champagne);
}

p {
  font-family: var(--font-family);
  color: var(--dark-blue);
}

/* Home Page */
.map-container {
  position: relative;
}

.map-container h1,
.map-container h2 {
  position: absolute;
  margin: auto;
  z-index: 1;
  text-shadow: 2px 2px 4px #000000b0;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#countdown {
  font-weight: bolder;
  top: 85px;
  color: var(--accent-champagne);
}

#map {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

#flag {
  border-radius: 5px;
  width: 150px;
}

.btn-blue {
  background-color: var(--accent-champagne);
  color: var(--dark-blue);
  padding: 10px;
  border-radius: 5px;
}

.btn-blue:active {
  background-color: var(--dark-blue);
}

#btn-spin {
  position: relative;
  top: -55px;
  left: 10px;
  display: inline-block;
  font-family: var(--font-family);
  color: var(--accent-champagne);
  background: linear-gradient(
    to right,
    var(--dark-blue) 0%,
    var(--lighter-blue) 100%
  );
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 0.5s;
}

#btn-spin:hover {
  background: linear-gradient(
    to right,
    var(--off-white) 0%,
    var(--accent-champagne) 100%
  );
  color: var(--dark-blue);
}

.timer-container {
  /* From https://css.glass */
  background: rgba(214, 213, 213, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(214, 213, 213, 1);
  border-radius: 5px;
  box-shadow: 6px 4px 17px 0px #e5e3e3;
  width: 20%;
  height: 80%;
}

/* Navbar */

.header-nav {
  background-color: var(--dark-blue);
}

.navbar {
  padding: 2vh;
  margin-top: 5px;
}

.navbar-brand {
  font-size: 24px;
}

.nav-item .nav-link {
  color: var(--off-white);
  font-size: 18px;
}

/* Country pages */
#timer-image {
  background-image: url(../images/counter-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 4vw;
}

.fact-image {
  max-height: 250px;
}

.location-image {
  max-width: 100%;
}

#country-counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#country-counter-container div {
  margin: 4px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  margin: auto;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: rgba(167, 166, 166, 0.2);
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  margin: 0 auto;
}

/* The Close Button */
.close {
  color: var(--accent-champagne);
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}
.text-box .close:hover,
.close:focus {
  color: var(--accent-champagne);
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
}

#text-element {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--dark-blue);
}

.text-box {
  background-color: rgba(252, 255, 239, 0.432);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

/* Team Page */
.card {
  min-height: 360px;
  /* From https://css.glass */
  background: rgba(227, 232, 237, 0.905);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(214, 213, 213, 1);
  border-radius: 5px;
  box-shadow: 6px 4px 17px 0px #e5e3e3;
}

.team-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.footer {
  background-color: #121931;
}

.footer-links {
  text-decoration: none;
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 32px;
  }

  .nav-item .nav-link {
    font-size: 18px;
  }

  #map {
    height: 90vh;
  }

  #countdown {
    top: 65px;
  }

  #country-counter-container {
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    margin: 0;
    bottom: 35px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
  }

  #flag {
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-left: 25px;
  }

  #selectedCountry,
  #localCountryTime {
    font-size: calc(1rem + 0.4vw);
    color: var(--accent-champagne);
  }

  #btn-spin {
    bottom: 28vh;
    left: 40px;
  }

  .modal {
    display: none;
  }
}
